table {
	margin-top: 20px;
}
table tbody tr {
	height: 50px;
}
td {
	width: 200px;
	text-align: center;
}
th {
	height: 50px;
	text-align: center;
}
input {
	height: 30px;
}
input #submit {
	padding: 16px 22px;
	background: #5cb85c;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
}