*{
	padding: 0px;
	margin: 0px auto;
}
.container{
	width: 1140px;
	margin: 0px auto;
}

.header .logo {
	float: left;
}
.header img {
	padding-left: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.header .text {
	text-align: center;
	color: skyblue;
}
.text h1 {
	letter-spacing: 10px;
	display: block;
	padding-top: 30px;
	color: black;
}
.menu {
	margin-top: 50px;
	clear: both;
	height: 40px;
	background: #003ba8;
}
.menu ul {
	padding: 0px;
	margin: 0px auto;
	list-style: none;
}
.menu ul li {
	float: left;
}
.menu ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	padding-left: 50px;
}