*{
	padding: 0px;
	margin: 0px auto;
}
table {
	margin-top: 20px;
}
table tbody tr {
	height: 150px;
}
td {
	width: 200px;
	text-align: center;
}
th {
	height: 100px;
	text-align: center;
}
th.active {
	color: blue;
}
.khoa a {
	padding: 6px 12px;
	background: #5cb85c;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
}
a#active {
	background: red;
}
.add {
	margin-top: 40px;
}
.add a {
	padding: 16px 22px;
	background: orange;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
}
.sinhvien a {
	padding: 6px 12px;
	background: #5cb85c;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
}
.monhoc a {
	padding: 6px 12px;
	background: #5cb85c;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
}
